/*Content*/
p{
	display:block;
	margin:0;
}

body{
	font-family: Arial,Helvetica,sans-serif;
	margin:0;
	width: auto;
	height: auto;
}
header{
	color: #585951;
	position: static;
overflow: hidden;
	width: auto;
    height: auto;
    box-shadow: 0 1px 3px 0 grey;


}

footer{
	color: white;
}
a{
	text-decoration: none;
}
header a:link,header a:visited{
	color: #585951;
}
footer a:link,footer a:visited{
	color:white;
}
nav{
	display: table;
}


.upercase{
	text-transform: uppercase;
}
.a-line-on-hover a:hover{
	text-decoration: underline;
}
.font-color-white{
	color: white;
}
.font-color-gray{
	color: #585951;
}
.list-style{
	list-style: none;
}
.blue-button{
	background: url(img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 3em;
	width: 13em;
	/*padding: 10px;*/
	border: none;
	text-align: left;
	border-radius: 6px;
	color: white;
	box-shadow: 0 1px 3px 0 grey;
	/*margin: 30px 0 20px 0;*/
}






/*background*/
.no-background{
	background: none !important;
}
.slides{
	background-image:  url("img/slide-bg-complexity.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	margin: auto;


	border-top: 0 0 0 1px grey;
}
.solutions{
	background-image:  url("img/services-bg.png");
	background-repeat: no-repeat;
	background-attachment: relative;
	background-position: auto;

}
.wrapper-events{
}
.events{
	background-size: cover;
	background-image:  url("img/news-and-events-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;

}
.success-stories{
	background:rgb(236,236,236);
	background-attachment: relative;
}
footer{
	background-image: url("img/footer-bg.png") ;
}
.sub-menu-item{
	/*float: left;*/
	float: left;
	text-transform: uppercase;
	width:auto;
	background:white url(img/divider.png) right center no-repeat;
	padding:0 10px 0 10px;
	font-size: 12px;

}
.mini-menu-item{
	width:auto;
	background:transparent url(img/divider.png) right center no-repeat;
	padding:0 10px 0 10px;
	float: left;
	font-size: 10px;
}
#search-img{
	background:transparent url(img/searchBtn.png) right center no-repeat;
	/*background-size: 8px 8px 8px 8px;*/
	border: none;
	margin: 0 0 0 -25px;
	padding-bottom: 8px;
}
.blue-background{
	background: linear-gradient(to bottom, #2e94c8 , #1188c4);
	border: none;
	height:2em;

}
.bullets{
	width:50;
	padding:0;

}
.bullet{
	margin:5px 5px 5px 5px;
    width: 1em;
    height: 1em;
    background-color: rgb(224, 224, 224);
    box-shadow: grey 0px 1px 3px 0px;
    border-radius: 2px;
}
.numbers-view{
	display:none;
}
.blue{
	background-color: #1188c4;
}

#email{
	height:2em;
	border:none;
}



/*layout*/

.margin-rghit{
	margin-right:6em;
}
.margin-left{
	margin-left:6em;
}
.cell{
	/*float:left;
	background-color: red;
	width: 20em;
	margin:auto;*/

	
}

.center{
	margin:0 auto 0 auto;;
}
.boxes{
	padding:0;
	margin-top:10px; 
	margin-bottom: 10px;

}

.box{
	margin-right: 30px;
    width: 250px;
    height: 6em;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 20px;
    color: white;
    padding: 20px 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.box-left{

    width: 250px;
    height: 6em;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 20px;
    color: white;
    padding: 20px 15px;
    border-radius: 6px;
}

.pink{
	background-color: rgba(251, 66, 158, 0.901961);
}
.orange {
    background-color: rgba(255, 117, 24, 0.901961);
}
.green {
    background-color: rgba(106, 192, 50, 0.901961);
}
.pink:hover{
	background-color: rgba(251, 66, 158, 1);
}
.orange:hover {
    background-color: rgba(255, 117, 24, 1);
}
.green:hover {
    background-color: rgba(106, 192, 50, 1);
}






/*border*/
select{
	background-color: white;
	border:none;
	color: #585951;
}

.button-radious{
	background:transparent url(img/divider.png) 80% center no-repeat;
	border-radius: 7px;
	border:1px solid #E0E0E0;
	height:1.8em; 
	width:9.8em;
	padding:1px 20px 1px 2px;
}



/***********solutions******/
/*
#icon-1-element:hover{
	background-size:30px 30px;
	background:black url(img/solution_icon_smart-money_hover.png) center center  no-repeat; 
}
#icon-2-element:hover{
	background: url(img/solution_icon_personal_hover.png) center center  no-repeat; 
}
#icon-3-element:hover{
	background:transparent url(img/solution_icon_optimize-efficnt_hover.png) center center  no-repeat; 
}
#icon-4-element:hover{
	background:transparent url(img/solution_icon_diti-cx_hover.png) center center  no-repeat; 
}
#icon-5-element:hover{
	background:transparent url(img/solution_icon_biz-transform_hover.png) center center  no-repeat; 
}
#icon-6-element:hover{
	background:transparent url(img/solution_icon_biz-analitics_hover.png) center center  no-repeat; 
}
.service-icon:{
    width: 13em;
    height: 7em;
    margin-right: 34px;
    box-shadow: grey 0px 1px 3px 0px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 1.2em;
    color: white;
    padding: 20px 15px;
    border-radius: 6px;
}*/

/*events*/
.event-box{
    width: 260px;
    height: 100px;
   	margin-bottom: 100px;
    margin-right: 20px;
    padding:10px 20px 10px 10px;

    box-shadow: grey 0px 1px 3px 0px;
    font-size: 1.2em;
    color: white;
    border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.301961);
}

.date-box{
	width: 50px;
    height: 80px;
    margin-right: 10px;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    /*padding: 20px 15px;*/
    border-radius: 1px;
	background-color: #1188c4;

}
.first-link{
	width: 1em;
    height: 1em;
    margin-right: 34px;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 1.2em;
    color: white;
   padding: 10px 10px;
    border-radius: 1px;
	background-color: #1188c4;
	/*background:black url(img/eventListIconNews.png) left 100% center no-repeat;*/
}




/*positioning*/
.header-content{
	margin:0 auto 0 auto;
	width:960px;/*use em*/
	overflow: hidden;

	/*display: table;*/
}

.sub-menu{
	display: table-cell;
}
.clear-right{
	clear:right;
}

.clear-left{
	clear:left;
}
#search-box{
	padding-top: 40px;
	padding-left: 30px;
}
.mini-menu{
	/*display:table;*/
	display: table-cell auto;
}


.left{
	float:left ;
}
.right{
	float:right;
}
.comverse-logo{
	display: table-cell auto;
}



/*****************************************/
.wrapper{
	margin:0 auto 0 auto;	
	overflow:hidden;
	width:960px;
}
p{
	padding: 0;
}
.margin-top{
	margin-top:10px;
}