/*Content*/
p{
	display:block;
	margin:0;
}
footer h3{
	font-size:16px;
	text-align: center;
	color:#1188c4;
}
ul{
	padding:0;
}
h2{
	font-size: 30px;
	margin: 0;
}
h4{
	margin:0 0 0px 0 ;
	font-weight: normal;
}
body{
	font-family: Arial,Helvetica,sans-serif;
	margin:0;
	width: auto;
	height: auto;
}
.hidden{
	display: none;
}
header{
	color: #585951;
	overflow: hidden;
	width: auto;
}

footer{
	color: white;
}
a{
	text-decoration: none;
}
 header a:link,header a:visited{
	color: #585951;
}
.sub-menu a:hover{
	color: #0099ff;
}
footer li{
	margin-bottom: 3px;
}
footer a:link,footer a:visited{
	color:white;
}
nav{
	display: table;
}
.hidde{
	display:none;
}
.add-padding-top{
	padding-top:20px;
}
.add-padding-bottom{
	padding-bottom:10px;
}
.margin-top{
	margin-top: 0;
}
.margin-bottom{
	margin-bottom: 0;
}
.padding-bottom{
	padding-bottom:0;
}
.add-margin-top{
	margin-top: 20px;
}
.add-margin-bottom{
	margin-top: 10px;
}
.bold{
	font-weight: bold;
}
.events a:link,.events a:visited{
	color: white;
}
.upercase{
	text-transform: uppercase;
}
.a-line-on-hover a:hover{
	text-decoration: underline;
}

.font-color-white{
	color: white;
}
.font-color-gray{
	color: #585951;
}
.list-style{
	list-style: none;
}
.blue-button{
	background: url(img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 40px;
	width: 180px;
	border: none;
	text-align: left;
	border-radius: 6px;
	color: white;
	box-shadow: 0 1px 3px 0 grey;
	margin: 20px 0 20px 0;
}



/*background*/
.no-background{
	background: none !important;
}
.slides{
	background-image:  url("img/slide-bg-complexity.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	border: 0 0 0 1px grey;
}
.solutions{
	/*background-image:  url("img/services-bg.png");*/
	background-color:#50AED0;
	background-repeat: no-repeat;
	background-attachment: relative;
	background-position: center top;
}
.events{
	background-size: cover;
	background-image:  url("img/news-and-events-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	display: block;

}
.success-stories{
	background:rgb(236,236,236);
	background-attachment: relative;
}
footer{
	background-image: url("img/footer-bg.png") ;
}
.sub-menu-item{
	float: left;
	text-transform: uppercase;
	background:white url(img/divider.png) right center no-repeat;
	padding:0 10px 0 10px;
	font-size: 12px;
}
.mini-menu-item{
	width:auto;
	background:transparent url(img/divider.png) right center no-repeat;
	padding:0 10px 0 10px;
	float: left;
	font-size: 10px;
}
#search-img{
	background:transparent url(img/searchBtn.png) right center no-repeat;
	border: none;
	margin: 0 0 0 -25px;
	padding-bottom: 8px;
}
.blue-background{
	background: linear-gradient(to bottom, #2e94c8 , #1188c4);
	border: none;
	height:30px;
	margin-left:-6px;
	border-radius: 2px;
	margin-bottom: 30px;

}
.bullets{
	width:50;
	padding:0 0 70px 0;
	margin:0;
}
.bullet{
	margin:5px 10px 5px 0;
    width: 12px;
    height: 12px;
    background-color: rgb(224, 224, 224);
    box-shadow: grey 0px 1px 3px 0px;
    border-radius: 2px;
}
.bullet:hover{
    background-color: #1188c4;
}
.numbers-view{
	display:none;
}
.blue{
	background-color: #1188c4;
}

#email{
	height:30px;
	border:none;
	margin-right: 0;
	padding: 0;
	border-radius: 2px;
	width:150px;
}

/*layout*/

.margin-rghit{
	margin-right: 5px;
}
.margin-left{

}

.boxes{
	padding:0;
	margin-top:10px; 
	margin-bottom: 10px;
}

.box{
	margin-right: 30px;
    width: 250px;
    height: 6em;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 20px;
    color: white;
    padding: 20px 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}
.box-left{

    width: 250px;
    height: 6em;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 20px;
    color: white;
    padding: 20px 15px;
    border-radius: 6px;
    overflow: hidden;
}
.more-info{
	margin-top: 30px;
	font-size: 13px;
	text-align: bottom;
}
.more-info div.bold{
	margin: 5px 0 0 5px;
}

.pink{
	background-color: rgba(251, 66, 158, 0.901961);
}
.orange {
    background-color: rgba(255, 117, 24, 0.901961);
}
.green {
    background-color: rgba(106, 192, 50, 0.901961);
}
.pink:hover{
	background-color: rgba(251, 66, 158, 1);
}
.orange:hover {
    background-color: rgba(255, 117, 24, 1);
}
.green:hover {
    background-color: rgba(106, 192, 50, 1);
}

/*border*/
select{
	background-color: white;
	border:none;
	color: #585951;
}
.button-radious{ 
	outline: none;
	margin-bottom: 10px;
	background:transparent url(img/divider.png) 80% center no-repeat;
	border-radius: 7px;
	border:1px solid #E0E0E0;
	height:1.8em; 
	width:11em;
	padding:1px 22px 1px 3px;
	margin-left:-16px;
}

.event-box:hover{
	background-color: rgba(255, 255, 255, 0.7);
}
.event-box{
    width: 260px;
    height: 100px;
   	/*margin-bottom: 100px;**/
    margin-right: 20px;
    padding:10px 20px 10px 10px;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 1.2em;
    color: black;
    border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.301961);
	font-size: 13px;
}

.date-box{
	width: 70px;
    height: 80px;
    margin-right: 10px;
    box-shadow: grey 0px 1px 3px 0px;
    font-size: 1.2em;
    color: white;
    padding:10px 0;
    /*padding: 20px 15px;*/
    border-radius: 1px;
	background-color: #1188c4;
	text-align: center;

}
.date-num{
	font-size: 45px;
	border-bottom: dotted 1.5px;
}
.date-month{
	margin-top: 3px;
}

.first-link{
	margin:0 0 10px 40px;
	list-style-image:url(img/eventListIconNews.png);
	display: inline-block;
	text-transform: capitalize;

}
.second-link{
	margin:0 0 10px 40px;
	list-style-image:url(img/eventListIconEvents.png);
	display: inline-block;
	text-transform: capitalize;
}
.first-link :hover{
	margin-top:10px;
	list-style-image:url(img/eventListIconNews_hover.png);
}
.second-link :hover{
	margin-top:10px;
	list-style-image:url(img/eventListIconEvents_hover.png);
}

/*positioning*/
.header-content{
	background: #FFF none repeat scroll 0% 0%;
	margin:0 auto 0 auto;
	width:930px;/*use em*/
	margin-top:4px;
	overflow: hidden;
}

.sub-menu{
	display: table-cell;
	width:500px;
	padding-left: 80px;

}
.clear-right{
	clear:right;
}
.clear-left{
	clear:left;
}
#search-box{
	padding-top: 40px;
	padding-left: 30px;
}
.mini-menu{
	display: table-cell auto;
}
.events h2, .success-stories h2,.solutions h2{
	text-align: center;
	font-weight:normal;
}
.left{
	float:left ;
}
.right{
	float:right;
}
.comverse-logo{
	display: table-cell auto;
	width:150px;
}

/*****************************************/
.wrapper{
	margin:0 auto 0 auto;	
	overflow:hidden;
	width:930px;
}

.story-wrapper{
		margin:0 auto 0 auto;	
		overflow:hidden;
		width:930px
	}
p{
	padding: 0;
}
.margin-top{
	margin-top:10px;
}

/******************success story********/
.success-box{
	width: 298px;
    height: 180px;
    margin:0px 10px 10px 0;

    padding: 20px;
    font-size: 1.2em;
    color: black;
    border-radius: 3px;
	background-color: white;
	font-size: 13px;
	overflow: hidden;
}
.success-box-2{
	width: 180px;
    height: 180px;
   	margin-bottom: 10px;
    margin-right: 10px;
    padding:20px;
    font-size: 1.2em;
    color: black;
    border-radius: 3px;
	background-color: white;
	font-size: 13px;
}

.image{
	display: inline-block;
    width: 106px;
    height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    float: left;
    margin-bottom:10px;
    margin-right: 10px;
    color:#7c7c7c;
   vertical-align: center;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.no-margin-right{
	margin-right: 0 !important;
}
.no-margin-left{
	margin-left: 0 !important;
}

footer{
	font-size: 13px;
}
footer ul{
	
	list-style: none;
}
header ul{
	padding: 0;
}
.footer-box{
	width:205px;
}
.footer-box2{
	width:244px;
}
.footer-box3{
	margin:0;
	width:244px;
	padding: 10px;
	background: white;
	background-color: rgba(255, 255, 255, 0.101961);
}

ul{
	margin:0;
}
.wrap-2{
	height: 40px;
	width: 170px;
	margin-bottom: 20px;
}
.wrap-1{
	margin-top: -4px;
	height: 40px;
	width: 50px;
	text-align: center;
}
.border{
	border-top: solid 0.5px grey;
	padding:20px 10px 20px 10px;
}
.head{
	font-size: 16px;
	margin:20px 0;
}
footer p {
	margin-top: -20px !important;
	color: grey;
}
.images-stories{
	margin:0 10px 10px 10px;
}
.comp img{
	width:100%;
	margin-top: 20px;
	vertical-align: 50%;
}
.no-margin{
	margin-top:-5px !important;
}
.add-margin{
	margin-top: 40px !important;
}

.min-margin{
margin-top:-20px !important;
height: 50px;
width: 70px;
}

.center{
	margin:0 auto 0 auto;	
	overflow:hidden;
	width:180px;
}
.author{
	width:auto;
	overflow: hidden;
}
.success-stories h2,.events h2{
	margin:40px;
}


/**************************************************/
a{
	text-decoration: none;
}

.solutions > div > ul > li > a{
	color: white;
	position: relative;
	top: 60px;
	cursor: pointer;
}

.solutions > div > ul > li{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.service-icon{
	margin:60px 0 0 0;
	width:135px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 20px;
	text-align: center;
}

.biz-analitics{
	background-image: url(img/solution_icon_biz-analitics.png);
}
.diti-cx{
	background-image: url(img/solution_icon_diti-cx.png);
}
.smart-money{
	background-image: url(img/solution_icon_smart-money.png);
}
.optimize-efficnt{
	background-image: url(img/solution_icon_optimize-efficnt.png);
}
.icon_personal{
	background-image: url(img/solution_icon_personal.png);
}
.biz-transform{
	background-image: url(img/solution_icon_biz-transform.png);
}

.biz-analitics:hover{
	background-image: url(img/solution_icon_biz-analitics_hover.png);
}

.diti-cx:hover{
	background-image: url(img/solution_icon_diti-cx_hover.png);
}
.smart-money:hover{
	background-image: url(img/solution_icon_smart-money_hover.png);
}
.optimize-efficnt:hover{
	background-image: url(img/solution_icon_optimize-efficnt_hover.png);
}
.icon_personal:hover{
	background-image: url(img/solution_icon_personal_hover.png);
}
.biz-transform:hover{
	background-image: url(img/solution_icon_biz-transform_hover.png);
}



#linkedin-icon:hover{
	background-image:transparent url(img/socialMenuIcon-linkdin_hover.png);
}
	 .social-icons{
    	float: right;
    	bottom: 0;
    	margin-top:-20px;
    }


.youtube-icon {
    background: url(img/socialMenuIcon-youtube.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}

.twitter-icon {
    background: url(img/socialMenuIcon-twitter.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}

.linkedin-icon {
    background: url(img/socialMenuIcon-linkdin.png) no-repeat;
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
}

.youtube-icon:hover {
	background: url(img/socialMenuIcon-youtube_hover.png) no-repeat;
}

.twitter-icon:hover {
	background: url(img/socialMenuIcon-twitter_hover.png) no-repeat;
}

.linkedin-icon:hover {
	background: url(img/socialMenuIcon-linkdin_hover.png) no-repeat;
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}


@media all and (max-width:768px){
	.left{
		float:none;
	}
	.event-box .left,.bullets .left,.solutions .left,
	.success-box .left,.success-box-2 .left,
	.monile-footer .left,.mobile-navigation .left{
		float:left;
	}
	.wrapper{
		width:auto;
		margin: auto;
		overflow: hidden;
	}
    header {
	    height: 100px;
	    width:auto;
	    overflow: hidden;
	    background: white;
    }

	.header-left{
		width:40%;
		float: left;
		display: inline-block;
		height: 100px;
	}

	.header-right{
		width:60%;
		float: left;
		height: 100px;
		display: inline-block;
	}
    input[type="checkbox"]:checked ~ ul {
        display: block;
        top:100px;
    }

    input[type=checkbox] {
    	display:none;
	}
	.main-nav-mobile li {
        width:200px;
        border-radius: 5px;
	    height: 30px;
    }

	.mobile-nav-icon {
		background:url(img/hamburger-icon.png) center;
		background-color:#f1f1f1;
		background-repeat:no-repeat;
	    display: inline-block;
	    width: 32px;
	    height: 30px;
	    border-radius: 5px;
	    padding: 6px 2px 0 6px;
	    border: 2px solid #D8D8D8;
	    float: right;
	    margin-top: 10px;
	    margin-right: 10px;
		margin-left:10px;
	    position: relative;
    }

     .mobile-nav-icon:hover{
        cursor: pointer;
    }

	.raw-icon {
        display: block;
        background-color: #a0a0a0;
        width: 30px;
        height: 4px;
        margin: 4px auto;
    }

    .main-nav-mobile {
    	width:auto;
        display: none;
        text-transform: uppercase;
        font-weight: bold;
        font: 18px;
        z-index: 1;
        position: absolute;
    }
    .main-nav-mobile li a {
    	display: block;
    	padding-left: 10px;
	    background-color: white;
	    text-transform: uppercase;
	    color: grey;
	    font-style: Arial;
	    border-bottom: 1px solid grey;
	    border-top: 1px solid grey;
	    font: 16px;
	    text-decoration: none;
	    line-height: 28px;
    }
    .main-nav-mobile li a:hover{
		background-color: green;

	}

    .comverse-logo{

	    margin-top:10px;
	    display: block;
	}
	.mobile-search-icon {
	    background:url(img/searchBtnMobile.png) center;
		background-color:#f1f1f1;
		background-repeat:no-repeat;
	    display: inline-block;
	    width: 32px;
	    height: 30px;
	    border-radius: 5px;
	    padding: 6px 2px 0 6px;
	    border: 2px solid #D8D8D8;
	    float: right;
	    margin-top: 10px;
	    margin-right: 10px;
	    position: relative;
	}
	.mobile-search-icon:hover{
		cursor: pointer;
	}

    .mobile-search-textbox{
    	display:none;
    	outline: none;
		margin-top: 30px;
		border-radius: 7px;
		border:1px solid #E0E0E0;
		height:1.8em; 
		width:170px;
		padding:1px 22px 1px 3px;
		font-size: 20px;
    }

    input[type="checkbox"]:checked ~ .mobile-search-textbox {
        display: block;
    }
    input[type="checkbox"]:checked ~ .header-center1 {
        display: none;
    }
    input[type=checkbox] {
    	display:none;
	}
	.blue-background-mobile{
		background: linear-gradient(to bottom, #2e94c8 , #1188c4);
		padding-left: 10px;
	}
	.slides{
		padding-top: 0;
	}
	.blue-button{
		margin: 50px 5px 50px 5px;
	}
	.numbers-view{
		display: inline;
		text-align: center;
	}
	.bullets{
		margin-left: 5px;
	}
	.bullet{
	    width: 20px;
	    height: 20px;
	    text-align: center;
	    padding:4px 1px 1px 1px;
	    margin-left: 4px;
		cursor:pointer;
	}
	.bullet:hover{
		cursor:pointer;
		background-color:#1188c4!important;
	}

	.bullet a:link,.bullet a:visited{
		color:grey;
	}
	.box{
		width:auto;
		margin-right: 0;
		border-radius: 0;
	}
	.box-left{
		width:auto;
		margin-right: 0;
		border-radius: 0;
	}
	.pink{
		background-color: rgba(251, 66, 158, 1);
	}
	.orange {
	    background-color: rgba(255, 117, 24, 1);
	}
	.green {
	    background-color: rgba(106, 192, 50, 1);
	}
	.clear-left-mobile{
		clear:left;
	}
	.service-icon{
		width:20%;
	}
	.solutions ul{
		margin:auto;
	}
	.solutions > div > ul > li{
		padding-left: 7%;
		padding-right: 6%;
	}

	.event-box{
		width:auto;
		margin-right: 0;
		border-radius: 0;
	}
	.story-wrapper{
		margin:0 auto 0 auto;	
		overflow:hidden;
		width:368px;
	}
	.display-mobile{
		display: none;
	}
	footer{
		background: white;
	}
	.mobile-footer-list{
		background-image:url("img/footer-bg.png") ;

	}
	footer li{
		width:auto;
		height: 20px;
		border-bottom:0.2px solid black;
	    padding-left: 20px;
	    padding: 10px 0 10px 10px;
	    font-size: 20px;
	    overflow: hidden;
	}
	.copyright{
		width:auto;
		height: 20px;
		border-bottom:0.2px solid black;
	    padding-left: 20px;
	    padding: 10px 0 10px 10px;
	    font-size: 12px;
	    color:black;

	}
	footer li:hover{
		background-color: rgba(256, 256, 256, 0.7);
	}
	.monile-footer .right{
		float:right;
	}
	.hidde{
		display:inline;
	}

}
